body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #434343;
	text-align: center;
}

.user-wrap {
	background: #3E68E4;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.user {
	text-align: left;
	width: 300px;
	color: white;
	margin-top: 10px;
}

.navbar {
	color: white;
}

img {
	border-radius: 100%;
}

.container {
	float: left;
}

.username {
}